@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
}

#root {
  max-width: 768px;
  padding: 2rem;
  margin: 0 auto;

  font-family: 'Lato', sans-serif;
}
